---
import { Icon } from "astro-icon/components";
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";

interface Props {
	id: string;
	name?: string;
	isCollapsed?: boolean;
	collapsedHeight?: string;
    maxContentHeight?: string;
    isScrollable?: boolean;
	class?: string;
	style?: string;
}
const {
    id,
    name,
    isCollapsed,
    collapsedHeight,
    style,
    maxContentHeight = "none", // don't limit max height for default
    isScrollable = false   // don't scroll for default
} = Astro.props;
const className = Astro.props.class;
---
<widget-layout data-id={id} data-is-collapsed={String(isCollapsed)} data-is-scrollable={String(isScrollable)} class={"pb-4 card-base " + className} style={style}>
    <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 relative ml-8 mt-4 mb-2
        before:w-1 before:h-4 before:rounded-md before:bg-[var(--primary)]
        before:absolute before:left-[-16px] before:top-[5.5px]">{name}</div>
    {isScrollable && <div class="mask-wrapper relative">
        <!-- apply gradient mask in this wrapper -->
        <div id={id} class:list={["collapse-wrapper px-4 overflow-hidden", {"collapsed": isCollapsed}, {"scrollable hide-scrollbar": isScrollable}]}>
            <slot></slot>
        </div>
    </div>}
    {!isScrollable && <div id={id} class:list={["collapse-wrapper px-4 overflow-hidden", {"collapsed": isCollapsed}, {"scrollable hide-scrollbar": isScrollable}]}>
        <slot></slot>
    </div>}
    {isCollapsed && <div class="expand-btn px-4 -mb-2">
        <button class="btn-plain rounded-lg w-full h-9">
            <div class="text-[var(--primary)] flex items-center justify-center gap-2 -translate-x-2">
                <Icon name="material-symbols:more-horiz" class="text-[1.75rem]"></Icon> {i18n(I18nKey.more)}
            </div>
        </button>
    </div>}
</widget-layout>

<style define:vars={{ collapsedHeight, maxContentHeight, overFlow: (isScrollable ? "auto" : "hidden") }}>
    .collapsed {
        height: var(--collapsedHeight);
    }
    .collapse-wrapper {
        max-height: var(--maxContentHeight);
        overflow: var(--overFlow);
    }
    .mask-wrapper::after {
        opacity: var(--mask-bottom, 1);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3rem;
        background: linear-gradient(transparent, var(--card-bg) 90%);
        pointer-events: none;
        z-index: 51;
        transition: opacity 0.2s ease-in-out;
    }
    .mask-wrapper::before {
        opacity: var(--mask-top, 0);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3rem;
        background: linear-gradient(var(--card-bg) 10%, transparent);
        pointer-events: none;
        z-index: 51;
        transition: opacity 0.2s ease-in-out;
    }
</style>

<script>
    class WidgetLayout extends HTMLElement {
        constructor() {
            super();

            const id = this.dataset.id;
            const wrapper = this.querySelector(`#${id}`) as HTMLElement;

            if (this.dataset.isCollapsed === "true") {
                const btn = this.querySelector('.expand-btn');
                btn!.addEventListener('click', () => {
                    wrapper!.classList.remove('collapsed');
                    btn!.classList.add('hidden');
                })
            }

            if (this.dataset.isScrollable === "true") {
                const maskWrapper = this.querySelector(`.mask-wrapper`) as HTMLElement;
                wrapper!.addEventListener('scroll', () => {
                    const isTop = wrapper.scrollTop === 0;
                    const isBottom = wrapper.scrollTop + wrapper.clientHeight >= wrapper.scrollHeight - 1;
                    maskWrapper.style.setProperty('--mask-top', isTop ? '0' : '1');
                    maskWrapper.style.setProperty('--mask-bottom', isBottom ? '0' : '1');
                })
            }
        }
    }

    if (!customElements.get("widget-layout")) {
        customElements.define("widget-layout", WidgetLayout);
    }
</script>
